/.metadata
.metadata/.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat10_Java21.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2050765816.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2025-12-19.txt
.metadata/version.ini
/.metadata
